<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>edge-up #21440.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,510}</string>
                <key>spriteSourceSize</key>
                <string>{650,510}</string>
                <key>textureRect</key>
                <string>{{1,1},{650,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #22560.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,510}</string>
                <key>spriteSourceSize</key>
                <string>{650,510}</string>
                <key>textureRect</key>
                <string>{{653,1},{650,510}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #31110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,425}</string>
                <key>spriteSourceSize</key>
                <string>{650,425}</string>
                <key>textureRect</key>
                <string>{{1,1165},{650,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #33880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,425}</string>
                <key>spriteSourceSize</key>
                <string>{650,425}</string>
                <key>textureRect</key>
                <string>{{653,1165},{650,425}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #50860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,425}</string>
                <key>spriteSourceSize</key>
                <string>{650,425}</string>
                <key>textureRect</key>
                <string>{{1025,513},{650,425}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-up #64980.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,510}</string>
                <key>spriteSourceSize</key>
                <string>{650,510}</string>
                <key>textureRect</key>
                <string>{{1,513},{650,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-up.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,510}</string>
                <key>spriteSourceSize</key>
                <string>{650,510}</string>
                <key>textureRect</key>
                <string>{{513,513},{650,510}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>edge_up_2.png</string>
            <key>size</key>
            <string>{1451,1591}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4aba3607590766c3da9156fa3bc95099:0543fa4fb4633608d3b1a746b60b2046:22cc76bdd0111881afba22462ae77af1$</string>
            <key>textureFileName</key>
            <string>edge_up_2.png</string>
        </dict>
    </dict>
</plist>
