<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>edge-bottom #04610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,150}</string>
                <key>spriteSourceSize</key>
                <string>{650,150}</string>
                <key>textureRect</key>
                <string>{{613,1},{650,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-bottom #17610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{613,761},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-bottom #73800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,150}</string>
                <key>spriteSourceSize</key>
                <string>{650,150}</string>
                <key>textureRect</key>
                <string>{{613,153},{650,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-bottom.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,150}</string>
                <key>spriteSourceSize</key>
                <string>{650,150}</string>
                <key>textureRect</key>
                <string>{{613,305},{650,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #14570.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{1417,1},{650,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-down #19900.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{1519,1},{650,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-down #28470.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{1621,1},{650,100}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-down #64110.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{1,905},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #65210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{1,1007},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #66010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{1,1109},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #66220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{1,1211},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #66570.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,150}</string>
                <key>spriteSourceSize</key>
                <string>{650,150}</string>
                <key>textureRect</key>
                <string>{{613,457},{650,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #70860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,150}</string>
                <key>spriteSourceSize</key>
                <string>{650,150}</string>
                <key>textureRect</key>
                <string>{{613,609},{650,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #72010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{653,863},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down #72570.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,150}</string>
                <key>spriteSourceSize</key>
                <string>{650,150}</string>
                <key>textureRect</key>
                <string>{{1265,1},{650,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-down #77010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{653,965},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-down.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,100}</string>
                <key>spriteSourceSize</key>
                <string>{650,100}</string>
                <key>textureRect</key>
                <string>{{653,1067},{650,100}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge100-left #13980.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1723,959},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge100-left #79010.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1669,967},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge100-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,50}</string>
                <key>spriteSourceSize</key>
                <string>{50,50}</string>
                <key>textureRect</key>
                <string>{{1669,1019},{50,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge100-right #10170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{1723,905},{52,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge100-right #68580.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,50}</string>
                <key>spriteSourceSize</key>
                <string>{52,50}</string>
                <key>textureRect</key>
                <string>{{1669,915},{52,50}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge100-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{52,52}</string>
                <key>spriteSourceSize</key>
                <string>{52,52}</string>
                <key>textureRect</key>
                <string>{{1669,861},{52,52}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s #19700.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1261,1196},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s #20470.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1669,1098},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s #31300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{1261,1169},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s #38260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{25,25}</string>
                <key>spriteSourceSize</key>
                <string>{25,25}</string>
                <key>textureRect</key>
                <string>{{1261,1223},{25,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s #42090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{613,863},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s #47090.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,25}</string>
                <key>spriteSourceSize</key>
                <string>{27,25}</string>
                <key>textureRect</key>
                <string>{{1669,1071},{27,25}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s #61250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{613,863},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge2-s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,27}</string>
                <key>spriteSourceSize</key>
                <string>{27,27}</string>
                <key>textureRect</key>
                <string>{{613,863},{27,27}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge300-left #44360.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{1105,1169},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge300-left #54180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{1157,1169},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge300-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,150}</string>
                <key>spriteSourceSize</key>
                <string>{50,150}</string>
                <key>textureRect</key>
                <string>{{1209,1169},{50,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-left #05260.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1723,1},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-left #09620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1723,453},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-left #17130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1265,653},{50,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge900-left #36620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{653,1169},{50,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge900-left #39170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1265,705},{50,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge900-left #57210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{653,1221},{50,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge900-left #59470.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,902}</string>
                <key>spriteSourceSize</key>
                <string>{100,902}</string>
                <key>textureRect</key>
                <string>{{1,1},{100,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-left #63610.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1265,757},{50,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge900-left #67430.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1265,809},{50,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge900-left #71280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,902}</string>
                <key>spriteSourceSize</key>
                <string>{100,902}</string>
                <key>textureRect</key>
                <string>{{103,1},{100,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-left.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,902}</string>
                <key>spriteSourceSize</key>
                <string>{100,902}</string>
                <key>textureRect</key>
                <string>{{205,1},{100,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #10020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{653,1273},{50,450}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge900-right #10400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1305,861},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #11050.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,902}</string>
                <key>spriteSourceSize</key>
                <string>{100,902}</string>
                <key>textureRect</key>
                <string>{{307,1},{100,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #27570.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,902}</string>
                <key>spriteSourceSize</key>
                <string>{100,902}</string>
                <key>textureRect</key>
                <string>{{409,1},{100,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #28990.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1357,861},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #41440.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1409,861},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #41800.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1461,861},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #77070.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1513,861},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #77950.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1565,861},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right #79950.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{100,902}</string>
                <key>spriteSourceSize</key>
                <string>{100,902}</string>
                <key>textureRect</key>
                <string>{{511,1},{100,902}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge900-right.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,450}</string>
                <key>spriteSourceSize</key>
                <string>{50,450}</string>
                <key>textureRect</key>
                <string>{{1617,861},{50,450}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>edge.png</string>
            <key>size</key>
            <string>{1774,1324}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:909f16a5beb7372ab9c760598e1b6e67:fa95c745be26ba852a08920aaa264c80:28c293f64d32efb5877fc119b4215486$</string>
            <key>textureFileName</key>
            <string>edge.png</string>
        </dict>
    </dict>
</plist>
