<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>edge-up #31400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,317}</string>
                <key>spriteSourceSize</key>
                <string>{650,317}</string>
                <key>textureRect</key>
                <string>{{1,1445},{650,317}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #46850.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,367}</string>
                <key>spriteSourceSize</key>
                <string>{650,367}</string>
                <key>textureRect</key>
                <string>{{1,1},{650,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #56140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,367}</string>
                <key>spriteSourceSize</key>
                <string>{650,367}</string>
                <key>textureRect</key>
                <string>{{1,370},{650,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #56180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,335}</string>
                <key>spriteSourceSize</key>
                <string>{650,335}</string>
                <key>textureRect</key>
                <string>{{653,1},{650,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-up #61280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,335}</string>
                <key>spriteSourceSize</key>
                <string>{650,335}</string>
                <key>textureRect</key>
                <string>{{1,1108},{650,335}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #61950.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,367}</string>
                <key>spriteSourceSize</key>
                <string>{650,367}</string>
                <key>textureRect</key>
                <string>{{1,739},{650,367}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>edge-up #64620.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,335}</string>
                <key>spriteSourceSize</key>
                <string>{650,335}</string>
                <key>textureRect</key>
                <string>{{653,653},{650,335}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>edge-up #64770.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{650,317}</string>
                <key>spriteSourceSize</key>
                <string>{650,317}</string>
                <key>textureRect</key>
                <string>{{653,1305},{650,317}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>edge_up_1.png</string>
            <key>size</key>
            <string>{989,1956}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebf70231cc0e50f8ebd7f1ba3c8651e1:c4650fa34abb6ee76228f2e56f5d860a:38f684d1a9891725a92d0f26fe6f051c$</string>
            <key>textureFileName</key>
            <string>edge_up_1.png</string>
        </dict>
    </dict>
</plist>
