<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>elementshadow01 #10300.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{1084,360},{130,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow01 #10450.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{303,609},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #15290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{303,786},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #18220.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{1261,332},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #37250.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{363,455},{130,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow01 #42140.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{831,764},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #43130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{540,455},{130,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow01 #45180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{717,455},{130,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow01 #49180.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{894,455},{130,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow01 #49880.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{963,587},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #52840.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{435,587},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #56440.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{435,764},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #57860.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{567,587},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #65420.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{567,764},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #70130.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{962,764},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01 #78640.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{1094,492},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow01.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{699,587},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow02 #24970.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{699,764},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow02 #32870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{1225,509},{129,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow02 #37870.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{1094,669},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow02 #59210.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{1225,640},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow02 #64380.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{130,175}</string>
                <key>spriteSourceSize</key>
                <string>{130,175}</string>
                <key>textureRect</key>
                <string>{{831,587},{130,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow02 #65520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{1093,846},{129,175}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow02.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{129,175}</string>
                <key>spriteSourceSize</key>
                <string>{129,175}</string>
                <key>textureRect</key>
                <string>{{1270,817},{129,175}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow03 #49350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,74}</string>
                <key>spriteSourceSize</key>
                <string>{131,74}</string>
                <key>textureRect</key>
                <string>{{435,941},{131,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow03 #57190.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,74}</string>
                <key>spriteSourceSize</key>
                <string>{131,74}</string>
                <key>textureRect</key>
                <string>{{568,941},{131,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow03.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{131,74}</string>
                <key>spriteSourceSize</key>
                <string>{131,74}</string>
                <key>textureRect</key>
                <string>{{701,941},{131,74}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #19560.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,150}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,1},{360,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #29230.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,149}</string>
                <key>spriteSourceSize</key>
                <string>{359,149}</string>
                <key>textureRect</key>
                <string>{{725,1},{359,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #29280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{358,150}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,457},{358,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #29350.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{325,99}</string>
                <key>spriteSourceSize</key>
                <string>{327,99}</string>
                <key>textureRect</key>
                <string>{{1339,1},{325,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow04 #38400.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,150}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,153},{360,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #51290.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,150}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{363,1},{360,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #53680.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,150}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{1,305},{360,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #60160.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,148}</string>
                <key>spriteSourceSize</key>
                <string>{360,148}</string>
                <key>textureRect</key>
                <string>{{363,305},{360,148}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #62640.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{357,150}</string>
                <key>spriteSourceSize</key>
                <string>{359,150}</string>
                <key>textureRect</key>
                <string>{{151,609},{357,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow04 #63020.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,150}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{363,153},{360,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #65660.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{357,150}</string>
                <key>spriteSourceSize</key>
                <string>{359,150}</string>
                <key>textureRect</key>
                <string>{{725,303},{357,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #68370.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,148}</string>
                <key>spriteSourceSize</key>
                <string>{360,148}</string>
                <key>textureRect</key>
                <string>{{1,609},{360,148}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow04 #69520.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,99}</string>
                <key>spriteSourceSize</key>
                <string>{329,99}</string>
                <key>textureRect</key>
                <string>{{1238,1},{329,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow04 #70280.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-1,0}</string>
                <key>spriteSize</key>
                <string>{357,150}</string>
                <key>spriteSourceSize</key>
                <string>{359,150}</string>
                <key>textureRect</key>
                <string>{{1086,1},{357,150}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow04 #71500.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{360,150}</string>
                <key>spriteSourceSize</key>
                <string>{360,150}</string>
                <key>textureRect</key>
                <string>{{363,1},{360,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>elementshadow04 #72170.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{329,99}</string>
                <key>spriteSourceSize</key>
                <string>{329,99}</string>
                <key>textureRect</key>
                <string>{{1238,1},{329,99}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>elementshadow04.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{359,149}</string>
                <key>spriteSourceSize</key>
                <string>{359,149}</string>
                <key>textureRect</key>
                <string>{{725,152},{359,149}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>element_shadow.png</string>
            <key>size</key>
            <string>{1439,1016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:73b8c515eff3db65e42898686abe46db:5caf7579b41d37d7e64d5b057cd1f7e4:ecd114b47e595f8652fbe11447633fc5$</string>
            <key>textureFileName</key>
            <string>element_shadow.png</string>
        </dict>
    </dict>
</plist>
