<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>common/arrow.png</key>
		<dict>
			<key>frame</key>
			<string>{{1624,1},{52,22}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,22}}</string>
			<key>sourceSize</key>
			<string>{52,24}</string>
		</dict>
		<key>common/arrow_c.png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,27},{82,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{82,35}}</string>
			<key>sourceSize</key>
			<string>{82,35}</string>
		</dict>
		<key>common/arrow_s.png</key>
		<dict>
			<key>frame</key>
			<string>{{639,1},{33,17}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{33,17}}</string>
			<key>sourceSize</key>
			<string>{33,17}</string>
		</dict>
		<key>common/arrow_y.png</key>
		<dict>
			<key>frame</key>
			<string>{{453,92},{73,56}}</string>
			<key>offset</key>
			<string>{1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,1},{73,56}}</string>
			<key>sourceSize</key>
			<string>{75,58}</string>
		</dict>
		<key>common/barracks_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{988,51},{52,49}}</string>
			<key>offset</key>
			<string>{-3,-4}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,9},{52,49}}</string>
			<key>sourceSize</key>
			<string>{60,59}</string>
		</dict>
		<key>common/bg2.png</key>
		<dict>
			<key>frame</key>
			<string>{{30,12},{30,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,30}}</string>
			<key>sourceSize</key>
			<string>{30,30}</string>
		</dict>
		<key>common/bg3.png</key>
		<dict>
			<key>frame</key>
			<string>{{1987,69},{60,60}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{60,60}}</string>
			<key>sourceSize</key>
			<string>{60,60}</string>
		</dict>
		<key>common/bg_frame_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1472,186},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>common/bg_frame_10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,43},{42,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{42,40}</string>
		</dict>
		<key>common/bg_frame_11.png</key>
		<dict>
			<key>frame</key>
			<string>{{1623,199},{150,150}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{150,150}}</string>
			<key>sourceSize</key>
			<string>{150,150}</string>
		</dict>
		<key>common/bg_frame_12.png</key>
		<dict>
			<key>frame</key>
			<string>{{510,46},{45,45}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{45,45}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>common/bg_frame_9.png</key>
		<dict>
			<key>frame</key>
			<string>{{44,43},{42,40}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,40}}</string>
			<key>sourceSize</key>
			<string>{42,40}</string>
		</dict>
		<key>common/bottom_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{673,1},{950,20}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{950,20}}</string>
			<key>sourceSize</key>
			<string>{950,20}</string>
		</dict>
		<key>common/bronze.png</key>
		<dict>
			<key>frame</key>
			<string>{{1585,22},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>common/bronze_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1246,51},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>common/bronze_especial.png</key>
		<dict>
			<key>frame</key>
			<string>{{1361,177},{108,110}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,3},{108,110}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>common/bronze_special.png</key>
		<dict>
			<key>frame</key>
			<string>{{1041,51},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>common/button_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{318,90},{134,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,53}}</string>
			<key>sourceSize</key>
			<string>{134,53}</string>
		</dict>
		<key>common/button_bg_disable.png</key>
		<dict>
			<key>frame</key>
			<string>{{527,96},{135,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{135,53}}</string>
			<key>sourceSize</key>
			<string>{135,53}</string>
		</dict>
		<key>common/button_bg_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{663,96},{134,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{134,53}}</string>
			<key>sourceSize</key>
			<string>{134,53}</string>
		</dict>
		<key>common/checkbox_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{134,44},{42,42}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{42,42}}</string>
			<key>sourceSize</key>
			<string>{42,42}</string>
		</dict>
		<key>common/checkbox_normal1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1091,51},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>common/checkbox_select.png</key>
		<dict>
			<key>frame</key>
			<string>{{421,46},{43,43}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{43,43}}</string>
			<key>sourceSize</key>
			<string>{43,43}</string>
		</dict>
		<key>common/checkbox_select1.png</key>
		<dict>
			<key>frame</key>
			<string>{{87,44},{46,41}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{46,41}}</string>
			<key>sourceSize</key>
			<string>{46,41}</string>
		</dict>
		<key>common/close.png</key>
		<dict>
			<key>frame</key>
			<string>{{1930,69},{56,55}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{56,55}}</string>
			<key>sourceSize</key>
			<string>{56,55}</string>
		</dict>
		<key>common/close3_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{374,46},{46,42}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{17,20},{46,42}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>common/close4.png</key>
		<dict>
			<key>frame</key>
			<string>{{1307,102},{70,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,68}}</string>
			<key>sourceSize</key>
			<string>{70,68}</string>
		</dict>
		<key>common/close4_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1378,102},{70,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{70,68}}</string>
			<key>sourceSize</key>
			<string>{70,68}</string>
		</dict>
		<key>common/close5_normal_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1518,111},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>common/close5_pressed_btn.png</key>
		<dict>
			<key>frame</key>
			<string>{{1590,114},{71,71}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{71,71}}</string>
			<key>sourceSize</key>
			<string>{71,71}</string>
		</dict>
		<key>common/close_button_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1809,63},{54,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,54}}</string>
			<key>sourceSize</key>
			<string>{54,54}</string>
		</dict>
		<key>common/close_button_normal_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1621,60},{53,62}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{53,62}}</string>
			<key>sourceSize</key>
			<string>{53,62}</string>
		</dict>
		<key>common/common_btn2_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1116,102},{190,54}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{190,54}}</string>
			<key>sourceSize</key>
			<string>{190,54}</string>
		</dict>
		<key>common/common_btn_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{798,99},{158,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,53}}</string>
			<key>sourceSize</key>
			<string>{158,53}</string>
		</dict>
		<key>common/common_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{957,101},{158,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{158,53}}</string>
			<key>sourceSize</key>
			<string>{158,53}</string>
		</dict>
		<key>common/composed_flag.png</key>
		<dict>
			<key>frame</key>
			<string>{{1700,1},{30,24}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{11,14},{30,24}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>common/corner_mark_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{564,12},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,34}}</string>
			<key>sourceSize</key>
			<string>{34,34}</string>
		</dict>
		<key>common/dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{1944,30},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{38,38}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>common/deep_dark.png</key>
		<dict>
			<key>frame</key>
			<string>{{61,12},{31,30}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,30}}</string>
			<key>sourceSize</key>
			<string>{31,30}</string>
		</dict>
		<key>common/dialog_big_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,262},{930,63}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{930,63}}</string>
			<key>sourceSize</key>
			<string>{930,63}</string>
		</dict>
		<key>common/dialog_small_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,150},{596,61}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{596,61}}</string>
			<key>sourceSize</key>
			<string>{596,61}</string>
		</dict>
		<key>common/down_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{556,51},{142,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,44}}</string>
			<key>sourceSize</key>
			<string>{142,44}</string>
		</dict>
		<key>common/exp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1731,1},{47,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,25}}</string>
			<key>sourceSize</key>
			<string>{47,25}</string>
		</dict>
		<key>common/finishlogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1965,1},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>common/flag.png</key>
		<dict>
			<key>frame</key>
			<string>{{1550,22},{34,34}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{34,34}}</string>
			<key>sourceSize</key>
			<string>{36,36}</string>
		</dict>
		<key>common/food.png</key>
		<dict>
			<key>frame</key>
			<string>{{1662,24},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>common/food_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1297,51},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>common/food_especial.png</key>
		<dict>
			<key>frame</key>
			<string>{{925,155},{106,110}}</string>
			<key>offset</key>
			<string>{-1,2}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{106,110}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>common/frame_new_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1036,157},{107,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,107}}</string>
			<key>sourceSize</key>
			<string>{107,107}</string>
		</dict>
		<key>common/frame_photo_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1144,157},{107,107}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,107}}</string>
			<key>sourceSize</key>
			<string>{107,107}</string>
		</dict>
		<key>common/head_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1252,171},{107,108}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{107,108}}</string>
			<key>sourceSize</key>
			<string>{107,108}</string>
		</dict>
		<key>common/hero_exp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1779,1},{47,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,25}}</string>
			<key>sourceSize</key>
			<string>{47,25}</string>
		</dict>
		<key>common/hero_house_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{1348,51},{50,55}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{6,3},{50,55}}</string>
			<key>sourceSize</key>
			<string>{60,59}</string>
		</dict>
		<key>common/hot_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1564,58},{52,56}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,2},{52,56}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>common/icon_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1745,118},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>common/icon_tip.png</key>
		<dict>
			<key>frame</key>
			<string>{{205,12},{34,32}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{34,32}}</string>
			<key>sourceSize</key>
			<string>{34,32}</string>
		</dict>
		<key>common/ingot.png</key>
		<dict>
			<key>frame</key>
			<string>{{1901,1},{35,27}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,3},{35,27}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>common/ingot_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{129,12},{43,31}}</string>
			<key>offset</key>
			<string>{1,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{2,8},{43,31}}</string>
			<key>sourceSize</key>
			<string>{45,45}</string>
		</dict>
		<key>common/ingot_especial.png</key>
		<dict>
			<key>frame</key>
			<string>{{598,150},{118,82}}</string>
			<key>offset</key>
			<string>{0,-2}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,21},{118,82}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>common/kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{1826,120},{80,80}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{80,80}}</string>
			<key>sourceSize</key>
			<string>{80,80}</string>
		</dict>
		<key>common/little_btn_down.png</key>
		<dict>
			<key>frame</key>
			<string>{{1743,63},{65,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,53}}</string>
			<key>sourceSize</key>
			<string>{65,53}</string>
		</dict>
		<key>common/little_btn_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1864,66},{65,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{65,53}}</string>
			<key>sourceSize</key>
			<string>{65,53}</string>
		</dict>
		<key>common/mark_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{717,153},{87,96}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{87,96}}</string>
			<key>sourceSize</key>
			<string>{87,96}</string>
		</dict>
		<key>common/monarch_exp.png</key>
		<dict>
			<key>frame</key>
			<string>{{1827,1},{47,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{47,25}}</string>
			<key>sourceSize</key>
			<string>{47,25}</string>
		</dict>
		<key>common/money.png</key>
		<dict>
			<key>frame</key>
			<string>{{1828,27},{35,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{35,35}}</string>
			<key>sourceSize</key>
			<string>{35,35}</string>
		</dict>
		<key>common/money_big.png</key>
		<dict>
			<key>frame</key>
			<string>{{1404,51},{50,50}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,50}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>common/money_especial.png</key>
		<dict>
			<key>frame</key>
			<string>{{814,153},{110,104}}</string>
			<key>offset</key>
			<string>{-2,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{3,8},{110,104}}</string>
			<key>sourceSize</key>
			<string>{120,120}</string>
		</dict>
		<key>common/name_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1937,1},{27,27}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{27,27}}</string>
			<key>sourceSize</key>
			<string>{27,27}</string>
		</dict>
		<key>common/new_item.png</key>
		<dict>
			<key>frame</key>
			<string>{{1449,108},{68,68}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{68,68}}</string>
			<key>sourceSize</key>
			<string>{68,68}</string>
		</dict>
		<key>common/offer_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1455,51},{50,56}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{50,56}}</string>
			<key>sourceSize</key>
			<string>{52,58}</string>
		</dict>
		<key>common/price_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{177,46},{196,40}}</string>
			<key>offset</key>
			<string>{-1,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{196,40}}</string>
			<key>sourceSize</key>
			<string>{200,42}</string>
		</dict>
		<key>common/progress_back_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1677,1},{22,22}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{22,22}}</string>
			<key>sourceSize</key>
			<string>{22,22}</string>
		</dict>
		<key>common/progress_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{173,12},{31,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{31,31}}</string>
			<key>sourceSize</key>
			<string>{31,31}</string>
		</dict>
		<key>common/progress_big_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,1},{3,31}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,31}}</string>
			<key>sourceSize</key>
			<string>{3,31}</string>
		</dict>
		<key>common/progress_foreground.png</key>
		<dict>
			<key>frame</key>
			<string>{{1994,1},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>common/progress_img.png</key>
		<dict>
			<key>frame</key>
			<string>{{33,1},{3,26}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{3,26}}</string>
			<key>sourceSize</key>
			<string>{3,26}</string>
		</dict>
		<key>common/promptlogo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,5},{28,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{28,28}}</string>
			<key>sourceSize</key>
			<string>{28,28}</string>
		</dict>
		<key>common/pub_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{1512,57},{50,51}}</string>
			<key>offset</key>
			<string>{-3,-1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{2,5},{50,51}}</string>
			<key>sourceSize</key>
			<string>{60,59}</string>
		</dict>
		<key>common/qq_buluo.png</key>
		<dict>
			<key>frame</key>
			<string>{{1662,117},{82,77}}</string>
			<key>offset</key>
			<string>{0,-1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,4},{82,77}}</string>
			<key>sourceSize</key>
			<string>{84,83}</string>
		</dict>
		<key>common/qq_grey.png</key>
		<dict>
			<key>frame</key>
			<string>{{1864,29},{36,40}}</string>
			<key>offset</key>
			<string>{-2,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{5,4},{36,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>common/qq_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{1621,24},{34,40}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,4},{34,40}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>common/qq_super.png</key>
		<dict>
			<key>frame</key>
			<string>{{1698,27},{34,46}}</string>
			<key>offset</key>
			<string>{-1,1}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{7,1},{34,46}}</string>
			<key>sourceSize</key>
			<string>{50,50}</string>
		</dict>
		<key>common/refresh1.png</key>
		<dict>
			<key>frame</key>
			<string>{{842,51},{51,46}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{51,46}}</string>
			<key>sourceSize</key>
			<string>{51,46}</string>
		</dict>
		<key>common/school_tips.png</key>
		<dict>
			<key>frame</key>
			<string>{{1684,62},{58,53}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,3},{58,53}}</string>
			<key>sourceSize</key>
			<string>{60,59}</string>
		</dict>
		<key>common/side_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{60,1},{10,550}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,550}}</string>
			<key>sourceSize</key>
			<string>{10,550}</string>
		</dict>
		<key>common/soldier.png</key>
		<dict>
			<key>frame</key>
			<string>{{93,12},{30,35}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{30,35}}</string>
			<key>sourceSize</key>
			<string>{30,35}</string>
		</dict>
		<key>common/through.png</key>
		<dict>
			<key>frame</key>
			<string>{{1905,29},{36,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<true/>
			<key>sourceColorRect</key>
			<string>{{0,0},{36,38}}</string>
			<key>sourceSize</key>
			<string>{36,38}</string>
		</dict>
		<key>common/time_special.png</key>
		<dict>
			<key>frame</key>
			<string>{{1141,51},{49,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{49,49}}</string>
			<key>sourceSize</key>
			<string>{49,49}</string>
		</dict>
		<key>common/title_bg.png</key>
		<dict>
			<key>frame</key>
			<string>{{1983,30},{38,38}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{38,38}}</string>
			<key>sourceSize</key>
			<string>{40,40}</string>
		</dict>
		<key>common/top_kuang.png</key>
		<dict>
			<key>frame</key>
			<string>{{599,22},{950,28}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{950,28}}</string>
			<key>sourceSize</key>
			<string>{950,28}</string>
		</dict>
		<key>common/up_normal.png</key>
		<dict>
			<key>frame</key>
			<string>{{699,51},{142,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{142,44}}</string>
			<key>sourceSize</key>
			<string>{142,44}</string>
		</dict>
		<key>common/vip.png</key>
		<dict>
			<key>frame</key>
			<string>{{894,51},{93,47}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{93,47}}</string>
			<key>sourceSize</key>
			<string>{93,47}</string>
		</dict>
		<key>common/weixin.png</key>
		<dict>
			<key>frame</key>
			<string>{{465,46},{44,44}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{44,44}}</string>
			<key>sourceSize</key>
			<string>{44,44}</string>
		</dict>
		<key>common/weixin_level_four.png</key>
		<dict>
			<key>frame</key>
			<string>{{240,12},{80,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{80,33}}</string>
			<key>sourceSize</key>
			<string>{82,35}</string>
		</dict>
		<key>common/weixin_level_one.png</key>
		<dict>
			<key>frame</key>
			<string>{{321,12},{80,33}}</string>
			<key>offset</key>
			<string>{0,1}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,0},{80,33}}</string>
			<key>sourceSize</key>
			<string>{82,35}</string>
		</dict>
		<key>common/weixin_level_three.png</key>
		<dict>
			<key>frame</key>
			<string>{{402,12},{80,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{80,33}}</string>
			<key>sourceSize</key>
			<string>{82,35}</string>
		</dict>
		<key>common/weixin_level_two.png</key>
		<dict>
			<key>frame</key>
			<string>{{483,12},{80,33}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{1,1},{80,33}}</string>
			<key>sourceSize</key>
			<string>{82,35}</string>
		</dict>
		<key>common/word_grid_bottom.png</key>
		<dict>
			<key>frame</key>
			<string>{{1875,1},{25,25}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{25,25}}</string>
			<key>sourceSize</key>
			<string>{25,25}</string>
		</dict>
		<key>common/word_grid_bottom2.png</key>
		<dict>
			<key>frame</key>
			<string>{{622,1},{16,16}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{16,16}}</string>
			<key>sourceSize</key>
			<string>{16,16}</string>
		</dict>
		<key>common/word_panel_1.png</key>
		<dict>
			<key>frame</key>
			<string>{{1191,51},{54,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{54,49}}</string>
			<key>sourceSize</key>
			<string>{54,49}</string>
		</dict>
		<key>common/word_panel_2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1,87},{316,49}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{316,49}}</string>
			<key>sourceSize</key>
			<string>{316,49}</string>
		</dict>
		<key>common/word_panel_2_inner.png</key>
		<dict>
			<key>frame</key>
			<string>{{611,1},{10,10}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,0},{10,10}}</string>
			<key>sourceSize</key>
			<string>{10,10}</string>
		</dict>
		<key>common/youxizhongxin.png</key>
		<dict>
			<key>frame</key>
			<string>{{1907,130},{84,81}}</string>
			<key>offset</key>
			<string>{0,0}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{0,1},{84,81}}</string>
			<key>sourceSize</key>
			<string>{84,83}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>common.png</string>
		<key>size</key>
		<string>{2047,349}</string>
		<key>textureFileName</key>
		<string>common.png</string>
	</dict>
</dict>
</plist>
